[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	mergeContent = true
[capability]
	administrateServer = group Administrators
	streamEvents = group Administrators
	streamEvents = group CD
[access "refs/*"]
	read = group Administrators
	read = group guest Users
	push = +force group Administrators
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	forgeAuthor = group Registered Users
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	push = group Administrators
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	submit = group Administrators
	submit = group Project Owners
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
[access "refs/meta/config"]
	read = group Administrators
	read = group Project Owners
	read = group guest Users
[access "refs/tags/*"]
	pushTag = +force group Administrators
	pushTag = +force group CD
	pushTag = +force group Project Owners
	pushSignedTag = group Administrators
	pushSignedTag = group CD
	pushSignedTag = group Project Owners
	create = group Administrators
	create = group CD
	create = group Project Owners
	push = +force group Administrators
	push = +force group CD
	push = +force group Project Owners
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[access "refs/heads/personal/${username}/*"]
	push = group Registered Users
