[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Owners
	read = group Users
	submit = group Users
[access "refs/heads/*"]
	label-Code-Review = -1..+2 group Users
[access "refs/meta/config"]
	read = group Users
[access "refs/for/refs/heads/*"]
	push = group Users
	pushMerge = group Users
[access "refs/tags/*"]
	create = group Users
	push = group Users
	pushTag = group Users
	pushSignedTag = group Users
