[submit]
	action = rebase if necessary

[access]
	inheritFrom = All-Projects

[access "refs/*"]
	owner = group Owners
	read = group Users
	submit = group Users
	submit = group CD

[access "refs/heads/*"]
	label-Code-Review = -1..+2 group Users
	label-Merge = -1..+1 group Owners
	label-Merge = -1..+1 group CD
	label-Build-Verification = -1..+2 group CD
	label-Static-Analysis = -1..+2 group CD
	label-Static-Analysis = 0..+1 group Owners
	label-Test-Verification = -1..+2 group CD
	label-Aggregate-Build = -1..+2 group CD
	label-Aggregate-Test = -1..+2 group CD

[access "refs/meta/config"]
	read = group Users

[access "refs/for/refs/heads/*"]
	push = group Users
	pushMerge = group Users

[access "refs/tags/*"]
	create = group Users
	push = group Users
	pushTag = group Users
	pushSignedTag = group Users

[access "refs/heads/personal/${username}/*"]
	create = group Users

[access "refs/heads/personal/*"]
	push = group Users

[label "Merge"]
	function = NoBlock
	copyMinScore = false
	value = -1 Block Merge
	value =  0 No score
	value =  1 Force Merge
        branch =

[label "Build-Verification"]
	function = NoBlock
	copyMinScore = false
	value = -1 Change fails build verification
	value =  0 No score
	value = +1 Build verification in progress
	value = +2 Change passes build verification
        branch =

[label "Static-Analysis"]
	function = NoBlock
	copyMinScore = false
	value = -1 Static Analysis found major issues
	value =  0 No score
	value = +1 Static Analysis found no major issues
        branch =

[label "Test-Verification"]
	function = NoBlock
	copyMinScore = false
	value = -1 Change fails test verification
	value =  0 No score
	value = +1 Test verification in progress
	value = +2 Change passes test verification
        branch =

[label "Aggregate-Build"]
	function = NoBlock
	copyMinScore = false
	value = -1 Change fails build verification
	value =  0 No score
	value = +1 Build verification in progress
	value = +2 Change passes build verification
        branch =

[label "Aggregate-Test"]
	function = NoBlock
	copyMinScore = false
	value = -1 Change fails test verification
	value =  0 No score
	value = +1 Test verification in progress
	value = +2 Change passes test verification
        branch =

