[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group tools Owners
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group tools Users

[access "refs/*"]
	read = group tools Users
[access "refs/meta/config"]
	read = group tools Users
[access "refs/for/refs/heads/*"]
	push = group tools Users
	pushMerge = group tools Users
